body
{
    background-color: coral;
}
.head
{
    color: darkblue;
}       

#bglime
{
    background-color: lime;
}
#bglime span
{
    color:red;
}

p
{
    color:white;
}
#para
{
    color:green;
}
p span
{
    color:black;
    font-size: 30px;
}
#p1
{
    color: black;
}
ul, ul li a 
{
    color:white;
    text-decoration: none;
}
ul li:nth-child(1) a span {
    color: red;
    background-color: yellow;
    
}


ul li:nth-child(2) a span {
    color: green;
    background-color: blue;
    
}


ol{
    color:black;
}
ol li:nth-child(2) {
    color: blue;
}
ol li:nth-child(3) {
    color: red;
}